<div class="resume-section-content">
    <h2 class="mb-5">Education</h2>
    <div *ngFor="let Education of Educations" class="d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="flex-grow-1">
            <h3 class="mb-0">{{Education.Institution}}</h3>
            <!-- <div class="subheading mb-6">{{Education.Board}}</div> -->
            <div class="subheading mb-3">{{Education.Degree}}</div>
            <div>{{Education.Field}}</div>
            <p>{{Education.Grade}}</p>
            <p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated
                content in real-time will have multiple touchpoints for offshoring.</p>
        </div>
        <div class="flex-shrink-0"><span class="text-primary">{{Education.From}} - {{Education.To}}</span></div>
    </div>
</div>