<div class="resume-section-content">
    <h1 class="mb-0">
        {{About.Name}}
        <!--span class="text-primary">Taylor</span> -->
    </h1>
    <div class="subheading mb-5">
        {{About.Address}} · {{About.Phone}} ·
        <a href="mailto:{{About.Personal_Email}}">{{About.Personal_Email}}</a>
    </div>
    <p class="lead mb-5">
        {{About.Summary}}
    </p>
    <div class="social-icons">
        <a class="social-icon" [href]="About.Social_Media_Link.LinkedIn">
            <i class="fab fa-linkedin-in"></i>
        </a>
        <a class="social-icon" [href]="About.Social_Media_Link.GitHub">
            <i class="fab fa-github"></i>
        </a>
        <a class="social-icon" [href]="About.Social_Media_Link.Twitter">
            <i class="fab fa-twitter"></i>
        </a>
        <a class="social-icon" [href]="About.Social_Media_Link.Facebook">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a class="social-icon" [href]="About.Social_Media_Link.Instagram">
            <i class="fab fa-instagram"></i>
        </a>
        <a class="social-icon" [href]="About.Social_Media_Link.Medium">
            <i class="fab fa-medium"></i>
        </a>
        <a class="social-icon" [href]="About.Social_Media_Link.Quora">
            <i class="fab fa-quora"></i>
        </a>
        <a class="social-icon" [href]="About.Social_Media_Link.Skype_URL">
            <i class="fab fa-skype"></i>
        </a>
        <!-- <a class="social-icon" href="assets/resume/Chandra Prakash Gupta Resume.pdf">
            <i class="fa fa-download"></i>
        </a> -->
        <!-- <a class="social-icon" target="_blank" href="assets/resume/Chandra Prakash Gupta Resume.pdf">
          <i class="fa fa-download"></i>
      </a> -->
        <a class="social-icon" target="_blank" href="assets/resume/Chandra Prakash Gupta Java 3_Yrs.pdf">
            <i class="fa fa-download"></i>
        </a>
    </div>
</div>


<!-- Chandra Prakash Gupta Resume.pdf -->
<!-- Chandra Prakash Gupta Java 3_Yrs.pdf -->
