<div class="resume-section-content">
    <h2 class="mb-5">Skills</h2>
    <!-- <div class="subheading mb-3">Programming Languages & Tools</div>
    <ul class="list-inline dev-icons">
        <li class="list-inline-item"><i class="fab fa-github-alt"></i></li>
        <li class="list-inline-item"><i class="fab fa-html5"></i></li>
        <li class="list-inline-item"><i class="fab fa-css3-alt"></i></li>
        <li class="list-inline-item"><i class="fab fa-js-square"></i></li>
        <li class="list-inline-item"><i class="fab fa-angular"></i></li>
    </ul> -->
    <div class="subheading mb-3">Programming Languages & Tools</div>
    <ul class="fa-ul mb-0">
        <li><span class="fa-li"><i class="fas fa-check"></i></span>Java</li>
        <li><span class="fa-li"><i class="fas fa-check"></i></span>Data Structures and Algorithm</li>
        <li><span class="fa-li"><i class="fas fa-check"></i></span>Spring Boot & Microsrvices</li>
        <li><span class="fa-li"><i class="fas fa-check"></i></span>MySQL & Oracle</li>
        <li><span class="fa-li"><i class="fas fa-check"></i></span>Eclipse and Intellij</li>
    </ul>
    <br>
    <div class="subheading mb-3">Workflow</div>
    <ul class="fa-ul mb-0">
        <li><span class="fa-li"><i class="fas fa-check"></i></span>Microsrvices Design & Development</li>
        <li><span class="fa-li"><i class="fas fa-check"></i></span>Software Development & Debugging</li>
        <li><span class="fa-li"><i class="fas fa-check"></i></span>Cross Functional Teams</li>
        <li><span class="fa-li"><i class="fas fa-check"></i></span>Mentoring Junior Team Members</li>
        <li><span class="fa-li"><i class="fas fa-check"></i></span>Agile Development & Scrum</li>
    </ul>
</div>